*
!*/
!goldenFiles/*/
!openNP.fpp
!userTesting.fpp
!modelCreator.fpp
!variables.fpp
!*.f90
!*.py
!Makefile
!*.sh
!*.yml
!goldenFiles/mnist/mnist.onnx
!instructions/*
reading.f90
userTesting.f90
linearV3copy.f90
test.txt
goldenFiles/gemm_huge/
goldenFiles/vgg16/
goldenFiles/turbulentShear/
graphs/
graph_scripts/
fLibrary/*.txt
goldenFiles/*/*.txt
randomStuff/

