# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master", "develop" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  CI_test:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Clone FyeNNa
        uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Permissions
        run: |
          chmod +x run.sh

      # Runs a set of commands using the runners shell
      - name: Installing Core Dependencies (brew)
        run: |
          brew install wget make make cmake coreutils
          brew install gcc@11

      - name: Checking F90 version
        run: |
          ln -s /usr/local/bin/gfortran-10 /usr/local/bin/gfortran
          gfortran --version

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          pip3 -v
          pip3 install torch
          pip3 install onnx
          pip3 install numpy
          pip3 install fypp

      - name: Running Test Cases
        run: |
          ./run.sh
